* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;

    --bg: #cdffac;
    --fg: #111;
    --dp: #fff;

    background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
    html {
        --bg: #111;
        --fg: #cdffac;
        --dp: #000
    }
}

body {
    font-family: 'Atkinson Hyperlegible';
    line-height: 1.6em;
    max-width: 40em;
    margin-top: 4em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    color: var(--fg);
}

h1, h2, h3 {
    font-family: 'Work Sans';
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-weight: 900;
    font-style: italic;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2em;
    line-height: 2rem;
    font-weight: 800;
}

ol, ul, ol + p, ol + form {
    margin-top: 1rem;
}

ol li {
    position: relative;
}

@media(min-width: 1100px) {
    ol li .here {
        display: inline;
        position: absolute;
        width: 10em;
        left: -8.5em;
    }

    ol li .here::after {
        content: ' →';
    }
}

@media(max-width: 1100px) {
    ol li .here {
        display: inline;
        font-weight: 700;
    }
    ol li .here::before {
        content: '← ';
    }
}

ol li strong {
    display: inline-block;
    width: 6.2em;
}

details form {
    margin-top: 0.5rem;
}

input, button {
    padding: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-family: inherit;
    background-color: inherit;
    color: var(--fg);
    border: 2pt solid var(--fg);
    border-radius: 3pt;
}

button {
    border-bottom-width: 3pt;
    border-right-width: 3pt;
}

button:active {
    border-bottom-width: 2pt;
    border-right-width: 2pt;
    border-top-width: 3pt;
    border-left-width: 3pt;
}

input:disabled {
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 3pt,
      color-mix(in srgb, var(--fg) 30%, transparent) 3pt,
      color-mix(in srgb, var(--fg) 30%, transparent) 4.5pt
    );
}

label {
    display: block;
    position: relative;
    height: 2.2rem;
}

details label input {
    position: absolute;
    left: 12rem;
    width: calc(100% - 12rem);
}

.team label input {
    margin-left: 0.5rem;
    width: 1.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
}

input.modified {
    font-weight: 700;
}

h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    line-height: 2rem;

    background-color: var(--fg);
    color: var(--bg);
    display: inline-block;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1pt;
    margin-left: -0.5rem;

    font-weight: 700;
    font-style: italic;
    transform: skew(-13deg);

    position: relative;
}

h3 a {
    display: block;
    transform: skew(13deg);
}

.team + .team, p + .team {
    margin-top: 3rem;
}

.team:target {
    color: var(--fg-a2);
    position: relative;
}

.team:target h3 {
    color: var(--dp);
}

.team:target h3::before {
    transform: skew(13deg);
    color: var(--fg);
    content: '»';
    display: block;
    position: absolute;
    left: -1em;
}

.team p {
    margin-bottom: 0.5rem;
}
